@import 'utilities.css';
:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#070606;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing:antialiased;
}
html{
    scroll-behavior: smooth;
}

header{
    background-color: #161616;
    clip-path:polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
  
    
}

.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;


}

header nav .left a{
    color: white;
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
   

    

}
header nav .left a:hover{
    color: #3DCFD3;

}

header nav{
    padding: 2rem 0;
}
header nav .branding{
    margin-right: 3rem;
}



.pragya .left  img{
    width: 500px;

}

.pragya .right{
    color: var(--pure);
    

}

.pragya .right h6{
   font-size: 1.6rem; 
   color: var(--primary);
   margin-bottom: 0.5rem;
}
.pragya .right h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.pragya .right h1{
    color: #3DCFD3;
}

.pragya .right{
    line-height: 1.9;
    margin-bottom: 2rem;
    



}


.flex-1{
    flex: 1;
}

section{
    padding: 6rem 0;
}

section.about .about-me-img{
    height: 500px;
    width: 250px;
}
section.about{
    background-color: #3DCFD3;
}

section.about h1{
    margin-bottom: 1rem;
    font-size: 2rem;
   
}
section.about h1 span{
    color: #3DCFD3;
}
section.about h3{
    font-size: 1.9rem;
    margin-bottom: 1.5rem;
}

section.about p{
    color:darkblue;
    line-height: 1.9rem;
}

section.about .social{
    display: flex;
    

}

section.about .social img{
width: 30px;
margin-top: 2rem;
margin-left: 1rem;

}



.section-heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5rem;
    
}

.section-heading span{
    color: #3DCFD3;

}







.section-heading +p{
    color: var(--ternary);
    margin-bottom: 8rem;
    text-align: center;
}
section.Services{
    background-color:rgb(225, 231, 236)
}

section.Services .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 6rem;
    grid-row-gap: 6rem;
}



section.Services .card-wrapper .card{
    background-color: whitesmoke;
    padding: 3rem 2rem;
    position: relative;
    padding-top: 5rem;
    text-align: center;
    transition: all .3s ease;
    -webkit-transform: translateX(all .3s ease);
    -moz-transform: translateX(all .3s ease);
    -ms-transform: translateX(all .3s ease);
    -o-transform: translateX(all .3s ease);
}

section.Services .card-wrapper .card img{
    position: absolute;
    top: -4rem;
    left: 50%;
    transform: translateX(-50%) ;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

section.Services .card-wrapper .card h2{
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1rem;
}

section.Services .card-wrapper .card p{
    color: gray;
    line-height: 1.6rem;
}

section.Services .card-wrapper .card:hover{
    background-color: #070606;

}

section.Services .card-wrapper .card:hover h2{
    color: #F2F2F2;

}

section.Services .card-wrapper .card:hover p{
    color: #F2F2F2;
}

section.freelancer{
    text-align: center;
    background: url(../images/background.png);
    color: #F2F2F2;
    clip-path:polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
    padding-bottom: 12rem;
}
section.freelancer h1{
font-size: 2rem;
margin-bottom: 2rem;

}
section.freelancer p{
    margin-bottom: 2rem;
    font-size: 1rem;

}

section.review .slider .slide img{
    width: 300px;
    transform: translateX(0.5rem) ;
    -webkit-transform: translateX(0.5%);
    -moz-transform: translateX(25%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    
    margin-bottom: 2rem;
    
}


section.review .slider .slide{
    
    text-align: center;
    flex-direction: column;
    padding:- 0.6rem;

    
}

section.review .slider .slide p{
    color: brown;
    margin-bottom: 1rem;
    font-size: large;
}

section.review .slider .slide span{
    font-size: 2rem;
}
section.work{
    background-color: antiquewhite;
}

section.work img{
    
    width:20rem;
    height: 75%;
}

section.work .card-wrapper{
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    grid: gap 2rem;
}

section.work .card-wrapper .card{
    position: relative;
    height: 250px;
}

section.work .card-wrapper .card .overlay{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
     align-items: center;
    flex-direction: column;
    color:blueviolet;
    
}

section.work .card-wrapper .card .overlay a{
    color:black;
  
  
    text-decoration: none;
}


section.Blog{
    background-color:#070606 ;
    clip-path:polygon(0 0, 100% 0, 100% 100%, 67% 87%, 0 100%);
    padding-bottom: 10rem;
}
section.Blog .section-heading{
    color: white;
}



section.Blog .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;

}

section.Blog .card-wrapper .card {
    background: #FFFFFF;
}
section.Blog .card-wrapper .card .img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}



section.Blog .card-wrapper .card .card-content{
    padding: 2rem;
}
section.Blog .card-wrapper .card .card-content h1{
    font-size: 2rem;
    font-weight: 8rem;
    color: #070606;
    
    

}
section.Blog .card-wrapper .card .card-content a{
    text-decoration: none;
}


section.Blog .card-wrapper .card .card-content span{
    color: blue;
    font-size: 1rem;
    

}

section.Blog .card-wrapper .card .card-content p{
    color: #070606;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

section.Contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
    
}

section.Contact .card-wrapper .card{
    text-align: center;
    
    

}

section.Contact .card-wrapper .card img{
    margin-bottom: 5rem;

width: 100px;


}
section.Contact .card-wrapper .card h1{
    font-weight: 800;
    margin-bottom: 2rem;

}
section.Contact .card-wrapper .card h6{
    font-size: 2rem;
    color: #898989;
    margin-bottom: 4rem;
}

section.Contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}


section.Contact .input-wrap2{
    display: flex;
    flex-direction: column;

}

section.Contact .input-wrap2 input{
    margin-bottom: 2rem;
}
section .Contact input{
    padding: 1rem;
}

section.Contact .input-wrap2 textarea{
    padding: 0.5rem;

}


section.Contact .btn-wrapper{
    text-align: center;
    margin-top: 2rem;
}


footer{
    background: rgb(39, 42, 43);
    text-align: center;
    padding: 3rem;

}
footer .footer-logo{
    margin-bottom: 3rem;
    width: 150px;
}

footer .copyright{
    color: #FFFFFF;
}

footer .footer-social{
    margin-left: 1rem;
    
}

footer .footer-social img{
    width: 30px;
    margin-bottom: 2rem;
    margin-left: 1rem;
}
 






























